<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= collection_select(:employee, :position, ['Employee', 'Manager'], :to_str, :to_str, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :employee_password %>
  </div>

  <div class="field">
    <%= form.label :payscale %>
    <%= form.text_field :payscale, id: :employee_payscale %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
