<p id="notice"><%= notice %></p>

<% if (current_emp != @employee && current_emp.position != "Manager") %>
     <script>window.location.href="/employees"</script>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Password:</strong>
  <%= @employee.password %>
</p>

<p>
  <strong>Payscale:</strong>
  <%= @employee.payscale %>
</p>

<p>
  <strong>Daily Sales:</strong>
  <%= @employee.sales_range(Date.yesterday, Date.today) %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
