
<div>
  <%= form_for(:session, url: "/session") do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= collection_select(:session, :employee_id, Employee.all, :id, :name, prompt: true) %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.text_field :password, id: :employee_password %>
    </div>

    <%= f.submit "Log in", class: "btn login" %>

  <% end %>
</div>
