
<%  if current_emp.position == 'Manager' %>
  <%= form_for(:shop, url: "dates") do |f| %>
    Start Date: <%= f.date_select(:start_date) %>
    End Date: <%= f.date_select(:end_date) %>
    <%= f.submit "Get Sales", class: "btn login", id: "send" %>
<p>
    Sales Total for period: <span id="sales">$0.0</span>
</p>
  <% end %>
<% end %>
<script>
$(function(){
$("#send").on("click", function(){
console.log($(this).val());
var item_sel = $(this).val();
$.getJSON("http://127.0.0.1:3000/sales/dates", function(data){
    console.log(data);
    document.getElementById("sales").innerHTML = ("$" + data.toString());
})
});
});
</script>